{% extends "users/base.html" %}
{% block content %}
 <img src="/media/se_work.jpg" class="float-middle" alt="Work Together" style="width:1400px; height:600px; border:0;">
<!-- <p><br></p>
<h2 style="text-align:center"><a href="#"><img src="/media/competitive exams.jpg" alt="Competitive exams" style="float:left; width:400px; height:300px; border:0;"></a>
    <br><br><br><br><br><br>Competitive exams</h2>
<h2 style="text-align:center"><a href="#"><img src="/media/sports.jpg" alt="sporta and firness" style="float:left; width:400px; height:300px; border:0;"></a>
    <br><br><br><br><br><br>Sports and Fitness</h2>
<h2 style="text-align:center"><a href="#"><img src="/media/arts.jpg" alt="arts and crafts" style="float:left; width:400px; height:300px; border:0;"></a>
        <br><br><br><br><br><br><br>Arts and Crafts</h2>
<h2 style="text-align:center"><a href="#"><img src="/media/music.jpg" alt="Music and movies" style="float:left; width:400px; height:300px; border:0;"></a>
    <br><br><br><br><br><br><br>Music and Movies</h2> -->
{% endblock content %}