{% extends 'users/base.html' %}
{% block content %}
  <style>
#p-msg-box
{
  background-color :#26599b;
  color :white;
} 
#u-msg-box
{
  background-color: #cad1d3;
  color : #000000;
}
</style>
  
        <div class ='row'>
              <div class="col-sm-2"></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-6 border p-3">
                    <div class = "row">
                          <div class="col-sm-3">
                              <img src="{{ profiler_profile.image.url }}" class="rounded-circle" alt="Profile Pic" width="200" height="200"> 
                          </div>
                          <div class="col-sm-1"></div>
                          <div class="col-sm-6"> <br>
                            <span class="display-4">{{profiler_profile.user.username}}</span> <br>
                            {% if profiler_profile.user != user %}
                              {% if status == '0' or status == '1' %}
                                <div class="row"><div class="col"><br>
                                <button type="button" class="btn btn-info mx-2" id='fr_btn' state={{status}}>{{fr_button}}</button>
                              {% endif %}
                              {% if status == '2' %}
                              <div class="row"><div class="col"><br>
                                  <div class="dropdown">
                                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="resp_req_btn">
                                        Respond
                                      </button>
                                      <div class="dropdown-menu" id='resp_dropdown_menu'>
                                        <a class="dropdown-item" id='confirm_req'>Confirm</a>
                                        <a class="dropdown-item" id='delete_request'>Delete Request</a>
                                      </div>
                                    </div>
                               {% endif %}
                               {% if status == '3' %}
                               <div class="row"><div class="col"><br>
                                  <div class="dropdown">
                                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="resp_req_btn">
                                        ✔Connected
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" id='remove_friend'>Remove Friend</a>
                                      </div>
                                    </div>
                               {% endif %}     
                              </div>
                              <div class=col><br>
                                <button type="button" class="btn btn-secondary mx-2" id='report_user' state={{status}}>Report User</button>
                              </div>
                             {% else %}
                               <div class=col><br><a href="{% url 'updateProfile' %}">
                                <button type="button" class="btn btn-primary mx-2">Update Profile</button></a>
                              </div>  
                             {% endif %} 
                          </div>
                    </div> 
                    <br>
                    <div class=container>
                    <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" data-toggle="tab" href="#about">About</a>
                                </li>
                                {% if profiler_profile.user != user %}
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#messages">Message</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#friends">Connections</a>
                                </li>
                          </ul>
                    <!-- Tab panes -->
                        <div class="tab-content">
                              <div id="about" class="container tab-pane active"><br>
                                    <table class="table table-borderless">
                                          <tbody>
                                              <tr>
                                                <td ><h3> Email: </h3></td>
                                                <td class='text-monospace'><h3>{{profiler_profile.email}}</h3></td>
                                              </tr>
                                              <tr>
                                                <td ><h3> Institute: </h3></td>
                                                <td class='text-monospace'><h3>{{profiler_profile.institute}}</h3></td>
                                              </tr>
                                    </table>
                              </div>
                              <div id="messages" class="container tab-pane fade"><br>
                                    <h3>Messages</h3>
                                    <div class="card example-1 square scrollbar-cyan bordered-cyan">
                                          <div class="card-body" id='msg_pre' rcvr='{{ profiler_profile.user.username }}' sndr='{{ user.username }}' count={{msgs_count}}
                                          url_checkMessages="#">
                                            {% for msg in msgs %}
                                              {% if msg.sender == profiler_profile.user %}
                                                <div class="d-flex flex-row mb-2" id='profiler_msg'>
                                                    <div class="p-2" id='p-msg-box'><strong>{{msg.content}}</strong></div>
                                                  </div>
                                              {% else %}
                                                  <div class="d-flex flex-row-reverse mb-2" id='user_msg'>
                                                    <div class="p-2 bg-light" id='u-msg-box'>{{msg.content}}</div>
                                                  </div>
                                              {% endif %} 
                                            {% endfor %}                                 
                                          </div>
                                    </div>
                                    <div class="input-group mb-3">
                                          <input type="text" class="form-control" placeholder=" Type your message here " name='message' id='mg_field'>
                                          <div class="input-group-append">
                                                <button class="btn btn-success" id='send_msg_btn'>Send</button>  
                                          </div>
                                    </div>
                              </div>
                              <div id="friends" class="container tab-pane fade"><br>
                                      <table class="table-hover">
                                          {% for profiler_friend in profiler_friends %}
                                            {% if profiler_friend != profiler_profile %}
                                            <tr class='clickable-row' data-href="{% url 'userprofile' profiler_friend.user.username %}">
                                                <td><img class='rounded-circle' src="{{profiler_friend.image.url}}" style="width:48px;height:48px;"></td>
                                                <td> 
                                                {{profiler_friend.user.username}}
                                                </td>
                                            </tr>
                                            {% endif %}
                                          {% endfor %}  
                                      </table>
                              </div>
                        </div>
                  </div>          
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3"></div>
        </div> 
  
  
<script type="text/javascript">
      var rcvr = $('#msg_pre').attr("rcvr");                  // profiler
    var sndr = $('#msg_pre').attr("sndr");                  // user
    var count = $('#msg_pre').attr("count");
    $('#confirm_req').click(function()                     // accepting request
    {
      //var u_a = $('#value_passer').attr("u_a");
      //if (u_a == 'True')                            //User authencation pending
      
        $.ajax(
        {
          type:'GET',
          url :"{% url 'acceptRequest' %}",
          data:{
                  rcvr : rcvr
          },
          success: function( data )
          {
              location.reload(true);
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          } 
        })
      
      });
    $('#remove_friend').click(function()                     // removing friend
    {
        $.ajax(
        {
          type:'GET',
          url :"{% url 'removeFriend' %}",
          data:{
                  rcvr : rcvr
          },
          success: function( data )
          {
              location.reload(true);
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          } 
        })
      
      });
    $('#delete_request').click(function()                     // rejecting request
    {
        $.ajax(
        {
          type:'GET',
          url :"{% url 'rejectRequest' %}",
          data:{
                  rcvr : rcvr
          },
          success: function( data )
          {
              location.reload(true);
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          } 
        })
      
    });
     $('#fr_btn').click(function()                     // sending request
    {
      //var u_a = $('#value_passer').attr("u_a");
      //if (u_a == 'True')                            //User authencation pending
      if ($('#fr_btn').attr('state')=='0')
      {
        $.ajax(
        {
          type:'GET',
          url :"{% url 'sendRequest' %}",
          data:{
                  rcvr : rcvr
          },
          success: function( data )
          {
              $('#fr_btn').html('Cancel Request');
              $('#fr_btn').attr('state','1');
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          } 
        })
      }
    });
    $('#fr_btn').click(function()                     // cancelling request
    {
      //var u_a = $('#value_passer').attr("u_a");
      //if (u_a == 'True')                            //User authencation pending
      if ($('#fr_btn').attr('state')=='1')
      {
        $.ajax(
        {
          type:'GET',
          url :"{% url 'cancelRequest' %}",
          data:{
                  rcvr : rcvr
          },
          success: function( data )
          {
              $('#fr_btn').html('Add Friend');
              $('#fr_btn').attr('state','0');
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          } 
        })
      }
    });
    $('#send_msg_btn').click(function(){
      var mg = $('#mg_field').val();
      if (mg.length != 0)
      {
      $.ajax(
        {
          type:'GET',
          url :"{% url 'sendMessage' %}",
          data:{
                  mg: mg,
                  rcvr : rcvr
          },
          success: function( data )
          {
            insertMessage(mg,'u');
            $('#mg_field').val('');
            count++;
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          }
        })}
    });
    $('#report_user').click(function()                     // accepting request
    {                  
        $.ajax(
        {
          type:'GET',
          url :"{% url 'reportUser' %}",
          data:{
                  rcvr : rcvr
          },
          success: function( data )
          {
              location.reload(true);
          },
          error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          } 
        })
      
      });
    checkNewMessages();
    function checkNewMessages() 
    {
      $.ajax({
        type:'GET',
        url: "{% url 'checkMessages' %}",
        data: { user:sndr, profiler:rcvr, count:count }, 
        success: function(data) {
           handleThisData(data);
        },
        error:function (xhr, ajaxOptions, thrownError)
          {
            alert(xhr.status);
            alert(xhr.statusText);
            alert(xhr.responseText);
          },
        complete: function() {
          // Schedule the next request when the current one's complete
          setTimeout(checkNewMessages, 5000);
        }
      });
    }
    function handleThisData(data)
    {
      var gata =JSON.stringify(data);
      var bata =JSON.parse(gata);
      if (bata.curr_count != 0)
      {
        count = parseInt(bata.total_count);
        for (var x=0;x<bata.curr_count;x++)
          insertMessage(bata.msgs[x],'p');
      }
    }
    function insertMessage(msg,sender)
    {
      var prev =  $('#msg_pre').html();
      var neew = '';
      if (sender == 'u')
        neew ="<div class='d-flex flex-row-reverse mb-2' id='user_msg'><div class='p-2' id='u-msg-box'>"+msg+"</div></div>";
      else
        neew = "<div class='d-flex flex-row mb-2' id='profiler_msg'><div class='p-2' id='p-msg-box'>"+msg+"</div></div>";  
      $('#msg_pre').html(neew+prev);
    }
    // for enter key as submit in msg
    var mg_enter = document.getElementById("mg_field");
    mg_enter.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
       event.preventDefault();
       document.getElementById("send_msg_btn").click();
      }
    });
    $(".clickable-row").click(function() {
            window.location = $(this).data("href");
    });
</script>   
{% endblock content %}